<h1>Update <%= @answer_list.answer %> here</h1>

<form action="/answerlists/<%= @answer_list.id %>%" method="POST"> 
    <input type="hidden" name="_method" value="PATCH">
    
    <input type="text" name="name" value="<%= @answer_list.answer%>">
    <br>
    <input type="submit" id="Update List">

    <br><input type="text" name="ans1" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans2" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans3" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans4" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans5" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans6" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans7" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans8" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans9" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans10" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans11" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans12" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans13" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans14" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans15" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans16" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans17" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans18" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans19" value="<%= @answer_list.answer%>" maxlength="25">
    <br><input type="text" name="ans20" value="<%= @answer_list.answer%>" maxlength="25">
    <br>
    <input type="submit" id="Update List">

    <p><a href="/answerlists">GO BACK</a></p>
</form>

<form action="/answerlists/<%=@answer_list.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE LIST">
</form><br>